asgiref==3.9.1
blinker==1.9.0
click==8.2.1
Django==5.2.4
Flask==3.1.1
Flask-MySQLdb==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysqlclient==2.2.7
PyJWT==2.10.1
sqlparse==0.5.3
Werkzeug==3.1.3
